<html>
  <head>
    <meta charset="utf-8" />
    <title>Featured Brands</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>

    <header>
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./wateringholes">Watering Holes</a>
            </li>

          </ul>
        </div>
      </nav>
    </header>

<div class="top-water-brands">
  <h2>Top Water Brands</h2>
  {{#each wateringHoles as |wateringHole|}}
  <div class="water-brand-card">
    <img src="../images/WateringHole.jpeg" alt="Watering hole logo">
    <h2>{{wateringHole.name}}</h2>
    <p>Overall Rating: {{overallScore wateringHole}}</p>
  </div>
  {{/each}}


{{!-- <div class="water-brand-card">
  <img src="images/Aquafina_1.png" alt="Dasani logo">
  <h2>Dasani</h2>
  <p>Overall Rating: {{dasani_rating}}</p>
  <p>{{dasani_top_comment}}</p>
</div>

<div class="water-brand-card">
  <img src="images/{{name}}_1.png" alt="Aquafina logo">
  <h2>{{name}}</h2>
  <p>Overall Rating: {{watering_hole_score}}</p>
  <p>{{top_comment}}</p>
</div>

<div class="water-brand-card">
  <img src="images/Aquafina_1.png" alt="Evian logo">
  <h2>Evian</h2>
  <p>Overall Rating: {{watering_hole_score}}</p>
  <p>{{evian_top_comment}}</p>
</div>
</div>

<div class="reviews-section">
<h2>Watering Holes Reviews</h2>
{{#each wateringHolesData}}
{{log this}}
  <div class="review-section">
    <img src="{{logo}}" alt="{{name}} logo">
    <h2>{{name}}</h2>
    <p>Overall Rating: {{watering_hole_score}}</p>
    <p>{{top_comment}}</p>
  </div>
{{/each}} --}}


<form>
  {{#if isLoggedIn}}
  <input type="hidden" name="user_id" value="{{user_id}}">
    <label for="wateringholepost">Post Watering Hole Review:</label>
    <label for="wateringholetype">Watering Hole Name:</label>
    <input type="text" name="wateringholetype" />
    <label for="wateringholepost">Write Review here:</label>
    <input type="text" name="wateringholepost" id="wateringhole" /><br />
    <label for="wateringholerating">Rating:</label>
    <div class="rating-section">
      <input type="radio" id="star5" name="wateringholerating" value="5" />
      <label for="star5"></label>
      <input type="radio" id="star4" name="wateringholerating" value="4" />
      <label for="star4"></label>
        <input type="radio" id="star3" name="wateringholerating" value="3" />
      <label for="star3"></label>
    
      <input type="radio" id="star2" name="wateringholerating" value="2" />
      <label for="star2"></label>
  
      <input type="radio" id="star1" name="wateringholerating" value="1" />
      <label for="star1"></label>
    </div>
    <button class="btn" type="submit">Submit</button>
  {{else}}
    <p>Please sign in to leave a review.</p>
  {{/if}}
</form>

</div>
<script src="/js/main.js"></script>
</body>